<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="api">
    <!-- For IIS 6.0/Mono -->
    <system.web>
      <httpRuntime targetFramework="4.5"/>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
      <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <!-- For IIS 7.0+ -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule"/>
      </modules>
      <validation validateIntegratedModeConfiguration="false"/>
      <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
      </handlers>
    </system.webServer>
  </location>
  <appSettings>
    <add key="ConnectionString" value="data source=#DataSource;initial catalog=#Catalog;user id=#UserName;password=#Password;persist security info=False"/>
    <add key="DataBase" value="CC802Freight"/>
    <add key="CC802Freight" value="192.168.0.230,CC802Freight,sa,9C44E8CF042FDE9DACE652EA64202E7A,0,ConnectionString"/>
    <add key="DateFormat" value="mm/dd/yyyy"/>
    <add key="SecretKey" value="9CBA0A78-7D1D-49D3-BA71-C72E93F9E48F"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>