<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <location path="api">
  <!-- For IIS 6.0/Mono -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"><buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders></compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <!-- For IIS 7.0+ -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
</location>
<appSettings>
    
    <add key="ConnectionString" value="data source=#DataSource;initial catalog=#Catalog;user id=#UserName;password=#Password;persist security info=False" />
    <add key="DataBase" value="CC802Freight" />
    <add key="CC802Freight" value="192.168.0.230,CC802Freight,sa,9C44E8CF042FDE9DACE652EA64202E7A,0,ConnectionString" />
    <add key="DateFormat" value="mm/dd/yyyy" />
    <add key="SecretKey" value="9CBA0A78-7D1D-49D3-BA71-C72E93F9E48F" />
  <add key="webPages:Enabled" value="false" /></appSettings>
<system.web.webPages.razor>
    
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
      <add namespace="System" />
        <add namespace="ServiceStack" />
        <add namespace="ServiceStack.Html" />
        <add namespace="ServiceStack.Razor" />
        <add namespace="ServiceStack.Text" />
        <add namespace="ServiceStack.OrmLite" />
        <add namespace="API" />
      </namespaces>
    </pages>
  <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc" /></system.web.webPages.razor>
</configuration>